
@{
    ViewBag.Title = "EditError";
}

<h2>Wij konden geen inschrijving vinden met deze referentie.</h2>
<br />
<h2>Indien deze sessie reeds heeft plaatsgevonden, kan u deze inschrijving niet meer aanpassen</h2>

